/*
 * Copyright (c) 2023
 * Regis Rousseau
 * Univ Lyon, INSA Lyon, Inria, CITI, EA3720
 * SPDX-License-Identifier: Apache-2.0
 */

/* VREF internal voltage monitoring */
/* internal voltage reference of STM32, IN13 - see datasheet pp 42/149 */
/* Vrefint = 1232mV max, see datasheet pp78/149 */
/ {
	stm32_vref: stm32vref {
    	compatible = "st,stm32-vref";
		io-channels = <&adc1 13>;
		vrefint-cal-addr = <13>;
		vrefint-cal-mv = <1232>;
    	status = "okay";
	};
};

/* configuration of ADC for geophone sensor */
/* adjust channel number according to pinmux in board.dts */
/* PB13 ADC_GSONE -> ADC_IN0, see datasheet Pinout Config pg 57/149 */
/ {
	zephyr,user {		
		io-channels = <&adc1 0>;
	};
};

/* channel IN0 configuration */
&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <1232>;
	};
};